[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chronosphere"]
	path = chronosphere
	url = https://github.com/chronosphere-info/r_client
